.about {
  padding: 10px;
  background-color: darkslategray;
  
}
.about h1 {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 3rem;
  padding: 1rem;
}
.about h3{
    text-align: center;
    color: red;
    font-weight: 700;
    font-size: 1.3rem;
}
.about p {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    letter-spacing: 1.8px;
}
.compartment {
  display: flex;
  flex: 2 2;
  padding: 15px;
}
.compartment:nth-child(even){
    
  flex-direction: row-reverse;
}
.compartment:nth-child(odd){
    flex-direction: row;
}
img {
  width: 100%;
  display: block;
}
.about-us-image{
    flex: 2;
    padding: 5px;
}
.about-us-image-img {
 width: 450px;
}
.about-us-text{
    flex: 3;
}
