img{
    width: 100%;
    display: block;
    height: 100%;
}
.gun-shop {
  padding: 10px;
  background-color: darkslategray;
}

.gun-shop-title h1 {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 3rem;
  padding: 1rem;
}
.gun-shop-description {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  letter-spacing: 1.8px;
}



.accessories-introductory-description p{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    letter-spacing: 1.8px;


}



